<!DOCTYPE html>

<html>
<head>
    <title><%=pageTitle%></title>
    <%- include('../includes/bootstrapSetup.ejs') %>
    <%- include('../includes/bootstrap-dialog.ejs') %>
    <%- include('../includes/newpayee-dialog.ejs') %>
    <%- include('../includes/newcategory-dialog.ejs') %>
    <link href="/css/transaction.css" rel="stylesheet">
    <link href="/css/calendar.css" rel="stylesheet">
    <script src="/js/repeating/repeatingtrans.js"></script>
    <script src="/js/calendar/generatecalendar.js"></script>
    <script src="/js/includes/newpayee.js"></script>
    <script src="/js/includes/newcategory.js"></script>
    <script src="/js/includes/adhocsubmitform.js"></script>
    <script>var sessionData = <%-JSON.stringify(sessionData)%>;</script>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

    <div class="container">
    <div class="row">
      <h3>Edit Transaction</h3>

      <!-- <div class="input-col" id="input-col-1"> -->
      <div class="col-sm-3" id="input-col-1">
        <div class="input-group">
          <label for="txnId">Transaction Id</label>
          <label class="input-label" id="txnId"><%=pageData.transaction.id%></label>
          <label class="input-label" id="txfId"><%=pageData.transaction.payee.transferAccount.transaction%></label>
        </div>

        <div class="input-group">
          <label for="txnType">Transaction Type</label>
          <select class="input-width-100pc" name="txnType" id="txnType">
            <option value="Payment">Payment</option>
            <option value="Deposit">Deposit</option>
            <option value="Transfer">Transfer</option>
          </select>
        </div>
      </div>

      <!-- <div class="input-col" id="input-col-2"> -->
      <div class="col-sm-3" id="input-col-2">
        <div class="input-group">
          <label for="txnDate">Next Due On Date</label>
          <input class="input-width-narrow" name="txnDate" id="txnDate" value="<%=pageData.transaction.repeating.nextDate.substr(0,10)%>"></input>
          <div class="calendar" id="txnDateCal"></div>
        </div>
        <div class="input-group">
          <label for="txnDate">End On Date</label>
          <input class="input-width-narrow" name="txnEndOnDate" id="txnEndOnDate" value="<%=pageData.transaction.repeating.endOnDate.substr(0,10)%>"></input>
        </div>
      </div>

      <!-- <div class="input-col" id="input-col-3"> -->
      <div class="col-sm-3" id="input-col-3">
        <div class="input-group">
            <label for="txnAccount">Account</label>
            <select class="input-width-100pc" name="txnAccont" id="txnAccount">
              <% pageData.accountList.forEach(function(val, idx) { %>
                  <%- "<option value='" + val.id + "' " +
                      (val.accountCode === pageData.transaction.account.code ? "selected" : "")  + ">" + val.accountCode + "</option>" %>
              <% }); %>
            </select>
        </div>

        <div class="input-group" id="input-group-txnPayee">
            <label id="lblPayee" for="txnPayee">Pay To</label>
            <select class="input-width-75pc" name="txnPayee" id="txnPayee">
              <% pageData.payeeList.forEach(function(val, idx) { %>
                  <%- "<option value='" + val.id + "' " +
                        (val.id === pageData.transaction.payee.id ? "selected" : "")  + ">" + val.payeeName + "</option>" %>
              <% }); %>
            </select>
            <button type="button" class="btn btn-primary btn-25pc" data-toggle="modal" data-target="#createPayeeModal" id="btnNewPayee">New</button>
        </div>

        <div class="input-group input-group-hidden" id="input-group-txnTxfAccount">
            <label for="txnTxfAccount">Transfer To</label>
            <select class="input-width-100pc" name="txnTxfAccount" id="txnTxfAccount">
              <% pageData.accountList.forEach(function(val, idx) { %>
                  <%- "<option value='" + val.id + "' " +
                      (val.accountCode === pageData.transaction.payee.transferAccount.code ? "selected" : "")  + ">" + val.accountCode + "</option>" %>
              <% }); %>
            </select>
        </div>

        <div class="input-group">
            <label for="txnCategory">Category</label>
            <select class="input-width-75pc" name="txnCategory" id="txnCategory">
              <% pageData.categoryList.forEach(function(val, idx) { %>
                  <%- "<option value='" + val.id + "' " +
                          (val.id === pageData.transaction.category.id ? "selected" : "")  + ">" + val.categoryName + "</option>" %>
              <% }); %>
            </select>
            <button type="button" class="btn btn-primary btn-25pc" data-toggle="modal" data-target="#createCategoryModal" id="btnNewCategory">New</button>
        </div>

        <div class="input-group">
            <label for="txnNotes">Notes</label>
            <textarea class="input-width-100pc" name="txnNotes" id="txnNotes"><%=pageData.transaction.notes%></textarea>
        </div>
      </div>

      <!-- <div class="input-col" id="input-col-4"> -->
      <div class="col-sm-3" id="input-col-4">
        <div class="input-group">
            <label for="txnFrequency">Frequency</label>
            <select class="input-width-100pc" name="txnFrequency" id="txnFrequency">
              <option value="D">Daily</option>
              <option value="W">Weekly</option>
              <option value="M">Monthly</option>
              <option value="Y">Yearly</option>
            </select>
            <label class="label-inline" for="txnFrequencyMonths">Every</label>
            <input class="input-inline-narrow" name="txnFrequencyMonths" id="txnFrequencyMonths" value="<%=pageData.transaction.repeating.frequency.increment%>"></input>
            <label id="lblFrequencyMonths" class="label-inline" for="txnFrequencyMonths">Months</label>

        </div>

        <div class="input-group">
            <label for="txnPlaceholder">Placeholder</label>
            <input type="checkbox" name="txnPlaceholder" id="txnPlaceholder" <%=(pageData.transaction.isPlaceholder ? "checked" : "")%>></input>
        </div>

        <div class="input-group">
          <label for="txnAmount">Amount</label>
          <input class="input-width-medium" name="txnAmount" id="txnAmount" value="<%=(pageData.transaction.amount) ? parseFloat(pageData.transaction.amount).toFixed(2) : 0.00 %>"></input>
        </div>

        <div class="input-group input-group-hidden" id="input-group-txnReduce">
          <label for="txnReduce">Reduce Placeholder</label>
          <select class="input-width-medium" name="txnReduce" id="txnReduce">
            <option value="">(none)</option>
            <% pageData.placeholderList.forEach(function(val, idx) { %>
                <% if (val.payee.name && val.payee.name.length > 0) { %>
                  <%- "<option value='" + val.id + "'>" + val.payee.name + "</option>" %>
                <% } %>
            <% }); %>
          </select>
          <input class="input-width-medium" name="txnAdjust" id="txnAdjust" value="0.00" disabled></input>
        </div>

        <div id="button-group" class="input-group" data-return-to-account="<%=pageData.transaction.account.id%>">
        <!-- <div id="button-group" class="btn-group" role="group"data-return-to-account="<%=pageData.transaction.account.id%>"> -->
          <button type="button" class="btn btn-primary" id="btnSaveTxn">Save</button>
          <button type="button" class="btn btn-default" id="btnCloseTxn">Close</button>
          <br>
          <button type="button" class="btn btn-danger" id="btnDeleteTxn">Delete</button>
          <button type="button" class="btn btn-warning" id="btnApplyTxn">Apply</button>
        </div>

      </div>

      <!-- <div class="data-listing"><%=JSON.stringify(sessionData)%></div> -->

    </div>
    </div>

    <script>
      <% pageData.transaction.account.group.id = header.selectedAccountGroupId;
         pageData.transaction.account.group.code = header.selectedAccountGroup; %>
      var saveObj = <%- JSON.stringify(pageData.transaction)%>;
    </script>
</body>
</html>
