<!DOCTYPE html>

<html>
<head>
    <title><%=pageTitle%></title>
    <%- include('../includes/bootstrapSetup.ejs') %>
    <%- include('../includes/bootstrap-dialog.ejs') %>

    <link href="/css/repeating.css" rel="stylesheet">
    <!-- <link href="/css/calendar.css" rel="stylesheet"> -->
    <script src="/js/repeating/repeating.js"></script>
    <script src="/js/includes/adhocsubmitform.js"></script>
    <!-- <script src="/js/calendar/generatecalendar.js"></script> -->
    <!-- <script>var myPayday=<%=header.loggedInUser.payday%>;</script> -->
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

    <div class="container">
      <h3>Repeating Transactions (<%=header.selectedAccountGroup%>)</h3>

      <div class="button-margin-1em">
        <button class="btn btn-success btn-register" id="btnAddNewTxn" accesskey="n">Add a new Repeating Transaction</button>
        <button class="btn btn-warning btn-register" id="btnApplyAll" accesskey="a">Apply to Next Pay Day</button>
        <button class="btn btn-warning btn-register" id="btnApplyAll2" accesskey="b">Apply to +2 Pay Day</button>
        <button class="btn btn-warning btn-register" id="btnApplyAll3" accesskey="s">Apply to Specific Date</button>
        <input type="text" id="rptApplyDate" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" value="">
        <input id="hidPayDay" type="hidden" value="<%=parseInt(header.loggedInUser.payday)-1%>">
      </div>

      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <td>Next Date</td>
            <td>Payee</td>
            <td class="conditional-field-wide">Category</td>
            <td class="field-format-currency conditional-field-wide">Amount Dr</td>
            <td class="field-format-currency conditional-field-wide">Amount Cr</td>
            <td class="field-format-currency conditional-field-narrow">Amount Cr/Dr</td>
            <td>Frequency</td>
          </tr>
        </thead>
        <tbody>
          <% pageData.transactionList.forEach(function(val, idx, arr) { %>
            <%
              var prefix, suffix, isTransfer = (val.payee.transferAccount && val.payee.transferAccount.code);
              if (isTransfer) {
                prefix = (val.amount >= 0) ? "FROM&gt;&gt; " : "TO&gt;&gt; ";
              }
            %>
          <tr>
              <td><a class="anchor-overspan" href="/repeating/<%=val.id%>"><%=val.repeating.nextDate.substr(0,10)%></a></td>
              <td><a class="anchor-overspan" href="/repeating/<%=val.id%>"><%-(isTransfer) ? prefix + val.payee.transferAccount.code : val.payee.name%></a></td>
              <td class="conditional-field-wide"><a class="anchor-overspan" href="/repeating/<%=val.id%>"><%=val.category.name%></a></td>
              <td class="field-format-currency conditional-field-wide"><a class="anchor-overspan field-format-dr" href="/repeating/<%=val.id%>"><%=(val.amount < 0 ? parseFloat(val.amount).toFixed(2) : "")%></a></td>
              <td class="field-format-currency conditional-field-wide"><a class="anchor-overspan field-format-cr" href="/repeating/<%=val.id%>"><%=(val.amount >= 0 ? parseFloat(val.amount).toFixed(2) : "")%></a></td>
              <td class="field-format-currency conditional-field-narrow"><a class="anchor-overspan <%=(val.amount < 0 ? 'field-format-dr' : 'field-format-cr');%>" href="/repeating/<%=val.id%>"><%=parseFloat(val.amount).toFixed(2)%></a></td>
              <td><a class="anchor-overspan" href="/repeating/<%=val.id%>"><%=val.repeating.frequency.description%></a></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <!-- <div class="data-listing"><%-JSON.stringify(header)%></div> -->
    <!-- <div class="data-listing"><%-JSON.stringify(pageData)%></div> -->
</body>
