<!DOCTYPE html>

<html>
<head>
    <title><%=pageTitle%></title>
    <%- include('../includes/bootstrapSetup.ejs') %>
    <%- include('../includes/bootstrap-dialog.ejs') %>
    <link href="/css/register.css" rel="stylesheet">
    <script src="/js/account/register.js"></script>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

    <!-- pageData.transactionList -->
    <!-- pageData.account -->
    <!-- pageData.accountList -->

    <div class="main-content-frame">
      <h3>[<%=pageData.account.accountCode%>] <%=pageData.account.accountName%></h3>

      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <td>Date</td>
            <td>Payee</td>
            <td>Category</td>
            <td class="field-format-currency">Amount</td>
            <td class="field-format-currency">Balance</td>
          </tr>
        </thead>
        <tbody>
          <% pageData.transactionList.forEach(function(val, idx, arr) { %>
            <tr class="<%=(val.isCleared ? '' : 'uncleared')%> <%=(val.isPlaceholder ? 'placeholder' : '')%>" 
                data-txid="<%=val.id%>" data-cleared="<%=val.isCleared%>" data-placeholder="<%=val.isPlaceholder%>">
              <td><%=val.transactionDate%></td>
              <td><%=val.payee.name%></td>
              <td><%=val.category.name%></td>
              <td class="field-format-currency"><%=val.amount%></td>
              <td class="field-format-currency"><%=val.balance%></td>
            </tr>
          <% }) %>
        </tbody>
      </table>


    </div>
</body>
</html>
