<!DOCTYPE html>

<html>
<head>
    <title><%=pageTitle%></title>
    <%- include('../includes/bootstrapSetup.ejs') %>
    <%- include('../includes/bootstrap-dialog.ejs') %>
    <link href="/css/register.css" rel="stylesheet">
    <script src="/js/account/register.js"></script>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

    <div class="container">
      <h3><%=pageData.account.accountName%></h3>
      <div>
        <select class="input-width-medium" id="accountShortcut">
          <% pageData.accountList.forEach(function(val, idx, arr) { %>
            <option value="<%=val.id%>"
              <%-(val.accountCode === pageData.account.accountCode ? "selected" : "")  + ">" + val.accountCode + "</option>" %>
          <% }); %>
        </select>
        <select class="input-width-medium" id="accountTxnLimit">
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100" selected>100</option>
          <option value="200">200</option>
          <option value="500">500</option>
        </select>
        <button class="btn btn-success btn-register" id="btnAddNewTxn" data-accid="<%=pageData.account.id%>" accesskey="n">Add a new Transaction</button>

      </div>



      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <td>Date</td>
            <td>Payee</td>
            <td class="conditional-field-wide">Category</td>
            <td class="field-format-currency conditional-field-wide">Amount Dr</td>
            <td class="field-format-currency conditional-field-wide">Amount Cr</td>
            <td class="field-format-currency conditional-field-narrow">Amount Cr/Dr</td>
            <td class="field-format-currency">Balance</td>
          </tr>
        </thead>
        <tbody>
          <% var previousDate = '', foundDateLine = false; %>
          <% pageData.transactionList.forEach(function(val, idx, arr) { %>

            <%
              var prefix, suffix, isTransfer = (val.payee.transferAccount && val.payee.transferAccount.code);
              if (isTransfer) {
                anchor = "<a href='/account/" + val.payee.transferAccount.id + "/register/#hlink-"+ val.payee.transferAccount.transaction + "'>";
                prefix = (val.amount >= 0) ? anchor + "FROM&gt;&gt; " : anchor + "TO&gt;&gt; ";
                suffix = (val.amount >= 0) ? "</a>" : "";
              }

              var futureDateClass = '',
                  dateLineClass = '',
                  today = new Date(),
                  transDate = new Date(val.transactionDate);

              if (!foundDateLine && val.transactionDate !== previousDate && transDate < today) {
                dateLineClass = 'register-date-line';
                foundDateLine = true;
              } else {
                dateLineClass = '';
                futureDateClass = (transDate > today) ? 'register-future-date' : '';
              }

            %>

            <tr class="<%=dateLineClass%> <%=(val.isCleared) ? '': 'uncleared' %>" data-txid="<%=val.id%>"
                                           data-cleared="<%=val.isCleared%>"
                                           data-placeholder="<%=val.isPlaceholder%>"
                                           data-futuredate="<%=(transDate > today) ? 'true' : 'false'%>">
              <td><%=val.transactionDate%></td>
              <td><%-(isTransfer) ? prefix + val.payee.transferAccount.code + suffix : val.payee.name%></td>
              <td class="conditional-field-wide"><%=val.category.name%></td>
              <td class="field-format-currency conditional-field-wide"><a class="field-format-dr" href="/account/<%=pageData.account.id%>/transaction/<%=val.id%>"><%=(val.amount < 0 ? parseFloat(val.amount).toFixed(2) : "")%></a></td>
              <td class="field-format-currency conditional-field-wide"><a class="field-format-cr" href="/account/<%=pageData.account.id%>/transaction/<%=val.id%>"><%=(val.amount >= 0 ? parseFloat(val.amount).toFixed(2) : "")%></a></td>
              <td class="field-format-currency conditional-field-narrow"><a class="<%=(val.amount < 0 ? 'field-format-dr' : 'field-format-cr');%>" href="/account/<%=pageData.account.id%>/transaction/<%=val.id%>"><%=parseFloat(val.amount).toFixed(2)%></a></td>
              <td class="field-format-currency"><a id="hlink-<%=val.id%>" href="/account/<%=pageData.account.id%>/transaction/<%=val.id%>"><%=val.balance%></a></td>
            </tr>
          <% }) %>
        </tbody>
      </table>

      <!-- <pre><%=JSON.stringify(pageData);%></pre> -->

    </div>
</body>
</html>
