<!DOCTYPE html>

<html>
<head>
    <title><%=pageTitle%></title>
    <%- include('../includes/bootstrapSetup.ejs') %>
    <%- include('../includes/bootstrap-dialog.ejs') %>
    <link href="/css/register.css" rel="stylesheet">
    <script src="/js/account/register.js"></script>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

    <div class="main-content-frame">
      <h3><%=pageData.account.accountName%></h3>

      <button class="btn btn-success btn-register" id="btnAddNewTxn" data-accid="<%=pageData.account.id%>">Add a new Transaction</button>

      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <td>Date</td>
            <td>Payee</td>
            <td>Category</td>
            <td class="field-format-currency">Amount Dr</td>
            <td class="field-format-currency">Amount Cr</td>
            <td class="field-format-currency">Balance</td>
          </tr>
        </thead>
        <tbody>
          <% pageData.transactionList.forEach(function(val, idx, arr) { %>

            <%
              var prefix, suffix, isTransfer = (val.payee.transferAccount && val.payee.transferAccount.code);
              if (isTransfer) {
                prefix = (val.amount >= 0) ? "FROM>> " : "TO>> ";
                suffix = (val.amount < 0) ? "" : "";
              }

            %>

            <tr class="<%=(val.isCleared ? '' : 'uncleared')%> <%=(val.isPlaceholder ? 'placeholder' : '')%>"
                data-txid="<%=val.id%>" data-cleared="<%=val.isCleared%>" data-placeholder="<%=val.isPlaceholder%>">
              <td><%=val.transactionDate%></td>
              <td><%=(isTransfer) ? prefix + val.payee.transferAccount.code + suffix : val.payee.name%></td>
              <td><%=val.category.name%></td>
              <td class="field-format-currency"><a class="field-format-dr" href="/account/<%=pageData.account.id%>/transaction/<%=val.id%>"><%=(val.amount < 0 ? val.amount.toFixed(2) : "")%></a></td>
              <td class="field-format-currency"><a class="field-format-cr" href="/account/<%=pageData.account.id%>/transaction/<%=val.id%>"><%=(val.amount >= 0 ? val.amount.toFixed(2) : "")%></a></td>
              <td class="field-format-currency"><a href="/account/<%=pageData.account.id%>/transaction/<%=val.id%>"><%=val.balance%></a></td>
            </tr>
          <% }) %>
        </tbody>
      </table>


    </div>
</body>
</html>
