<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand money-logo" href="/"><em>the</em>Money</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/balances">Balances</a></li>
        <li><a href="/repeating">Repeating</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Report #1</a></li>
            <li><a href="#">Report #2</a></li>
            <li><a href="#">Report #3</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <% if (header.loggedIn) { %>
                <%=header.loggedInUser.displayName%>
              <% } else { %>
                User
              <% } %>
              <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">User Profile</a></li>
            <li><a href="/setup/accounts">Account Setup</a></li>
            <li><a href="/setup/accgroups">Account Group Setup</a></li>
            <li><a href="/setup/categories">Category Setup</a></li>
            <li><a href="/setup/payees">Payee Setup</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Switch Account Groups:</li>
            <% header.loggedInUserGroups.forEach(function(groupname, groupidx, grouplist) { %>
              <%if (groupname !== "ALLUSERS") { %>
                <li class="accountgroup-option"><a href="#"><%=groupname%></a></li>
              <% } %>
            <% }) %>

            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Environment:</li>
            <li><a href="#">[<%=header.environment%>]</a></li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form navbar-right">
        <% if (header.loggedIn) { %>
          <a class="btn btn-warning" href='/logout'>Sign Out</a>
        <% } else { %>
          <a class="btn btn-success" href='auth/google'>Sign in with GOOGLE</a>
        <% } %>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
<script>
  var CURRENT_ACCOUNT_GROUP = "<%=header.selectedAccountGroup%>";
  var CURRENT_ACCOUNT_GROUP_ID = "<%=header.selectedAccountGroupId%>";
  <% if (header.loggedIn) { %>
    $(".nav > li").removeClass("navbar-option-hidden");
  <% } else { %>
    $(".nav > li").addClass("navbar-option-hidden");
  <% } %>
</script>
