<!DOCTYPE html>

<html>
<head>
    <title><%=title%></title>
    <%- include('includes/bootstrapSetup.ejs') %>
</head>

<body>
    <%- include('includes/navbar.ejs') %>

    <div class="main-content-frame">

      <h3>My Accounts</h3>
      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <td>Account</td>
            <td>Account Name</td>
            <td>Balance</td>
          </tr>
        </thead>
        <tbody>
          <% allAccounts.accountList.forEach(function(val, idx, arr) { %>
            <tr>
              <td><%=val.accountCode%></td>
              <td><%=val.accountName%></td>
              <td>£<%=val.balance%></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
  </div>
</body>
</html>
