<!DOCTYPE html>

<html>
<head>
    <title><%=pageTitle%></title>
    <%- include('includes/bootstrapSetup.ejs') %>
</head>

<body>
    <%- include('includes/navbar.ejs') %>

    <div class="main-content-frame">

      <h3>My Accounts (<%=header.selectedAccountGroup%>)</h3>
      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <td>Account</td>
            <td>Account Name</td>
            <td class="field-format-currency">Balance</td>
          </tr>
        </thead>
        <tbody>
          <% pageData.accountList.forEach(function(val, idx, arr) { %>
            <tr>
              <td><a href="/account/register/<%=val.id%>"><%=val.accountCode%></a></td>
              <td><%=val.accountName%></td>
              <td class="field-format-currency">£<%=val.balance%></td>
            </tr>
          <% }) %>
        </tbody>
      </table>

    <div class="container">
      <div class="row">
        <div class="col-md-6 grid-col-border">payday countdown goes here</div>
        <div class="col-md-6 grid-col-border">calendar goes here</div>
      </div>
    </div>

  </div>
</body>
</html>
