<!DOCTYPE html>

<html>
<head>
    <title><%=title%></title>
</head>

<body>
    <h1><%=title%> (<%=environment%>)</h1>

    <p>
        Logged in User: <%=loggedInUser.displayName%>
    </p>

    <ul>
      <li><a href="/">Home</a></li>

    <% if (loggedIn) { %>
      <li><a href="/logout">Log out</a></li>
    <% } else { %>
      <li>Sign in with <a href='auth/google'>GOOGLE</a></li>
    <% } %>
    
    </ul>

    <h3>My Accounts</h3>
    <table>
      <% allAccounts.accountList.forEach(function(val, idx, arr) { %>
        <tr>
          <td><%=val.accountCode%></td>
          <td><%=val.accountName%></td>
          <td>£<%=val.balance%></td>
        </tr>
      <% }) %>
    </table>
</body>
</html>
