<!DOCTYPE html>

<html>
<head>
    <title><%=title%></title>
</head>

<body>
    <h1><%=title%> (<%=environment%>)</h1>

    <p><%=pgViews%> Page Views</p>

    <p>
        Logged in User: <%=loggedInUser.displayName%>
    </p>

    <% if (loggedIn) { %>
      <ul>
        <li><a href="/logout">Log out</a></li>
      </ul>
    <% } else { %>
      <ul>
        <li>Sign in with <a href='auth/google'>GOOGLE</a></li>
      </ul>
    <% } %>

    <ul>
      <li><a href="./ayt">ayt</a></li>
      <li><a href="./aytAPI">aytAPI</a></li>
    </ul>

    <h3>Registered Users</h3>
    <ul>
      <% allUsers.userList.forEach(function(val, idx, arr) { %>
        <li><%=val.displayName %></li>
      <% }) %>
    </ul>
</body>
</html>
