<!DOCTYPE html>

<html>
<head>
    <title><%=title%></title>
</head>

<body>
    <h1><%=title%> (<%=environment%>)</h1>

    <p><%=pgViews%> Page Views</p>

    <p>
        Logged in User: <%=loggedInUser.displayName%>
    </p>

    <% if (loggedIn) { %>
      <ul>
        <li><a href="/logout">Log out</a></li>
      </ul>
    <% } else { %>
      <ul>
        <li>Sign in with <a href='auth/google'>GOOGLE</a></li>
        <li>Sign in with <a href='auth/facebook'>FACEBOOK</a></li>
      </ul>
    <% } %>
</body>
</html>
