<!DOCTYPE html>

<html>
<head>
    <title><%=pageTitle%></title>
    <%- include('../includes/bootstrapSetup.ejs') %>
    <%- include('../includes/bootstrap-dialog.ejs') %>
    <script src="/js/setup/accgroups.js"></script>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

    <div class="main-content-frame">
      <h3>Account Group Setup</h3>

      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <td>Account Group</td>
            <td>Group Description</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <% pageData.accountGroupList.forEach(function(val, idx, arr) { %>
            <tr>
              <td><%=val.groupCode%></td>
              <td><%=val.description%></td>
              <td>
                  <button class="btn btn-primary btn-edit-ag" data-toggle="modal" data-target="#editModal"
                                      data-type="edit" data-groupid="<%=val.id%>" data-groupname="<%=val.groupCode%>"
                                      data-groupdesc="<%=val.description%>">Edit</button>
                </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

      <button class="btn btn-success" data-toggle="modal" data-target="#createModal">Create a new Group</button>
      <button class="btn" data-toggle="modal" data-target="#groupCodeModal">Join an existing Group</button>

      <!-- Create New Group Modal -->
      <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Create a New Account Group</h4>
            </div>
            <div class="modal-body">
              <form id="frmCreate" action="" method="POST">
                <div class="form-group">
                  <label for="inputGroupCode">Group Code</label>
                  <input type="text" class="form-control allcaps mandatory" id="inputGroupCode" name="inputGroupCode" placeholder="NEWGROUP" required>
                </div>
                <div class="form-group">
                  <label for="inputDescription">Group Description</label>
                  <input type="text" class="form-control mandatory" id="inputDescription" name="inputDescription" placeholder="new group description" required>
                </div>
                <div class="form-group">
                  <label for="inputPassword">Group Password</label>
                  <input type="password" class="form-control mandatory" id="inputPassword" name="inputPassword" placeholder="password" required>
                </div>
                <div class="form-group">
                  <label for="confirmPassword">Confirm Password</label>
                  <input type="password" class="form-control mandatory" id="confirmPassword" placeholder="confirm password" required>
                </div>
                <div id="warning-labels" class="form-group">
                  <label id="lblNoMatch" class="form-inline-error-message">Passwords do not match</label>
                  <label id="lblMandatoryFields" class="form-inline-error-message">All fields are mandatory</label>
                </div>
                <input type="hidden" id="inputAction" name="inputAction">
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="btnSaveNewGroup">Save</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Edit Group Modal -->
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Edit Account Group</h4>
            </div>
            <div class="modal-body">
              <form id="frmEdit" action="" method="POST">
                <div class="form-group">
                  <label for="inputEditGroupCode">Group Code</label>
                  <input type="text" class="form-control mandatory" id="inputEditGroupCode" name="inputEditGroupCode" placeholder="NEWGROUP" readonly>
                </div>
                <div class="form-group">
                  <label for="inputEditDescription">Group Description</label>
                  <input type="text" class="form-control mandatory" id="inputEditDescription" name="inputEditDescription" placeholder="new group description">
                </div>
                <div class="form-group">
                  <label for="inputEditCurrentPassword">Current Group Password</label>
                  <input type="password" class="form-control mandatory mandatory-delete" id="inputEditCurrentPassword" name="inputEditCurrentPassword" placeholder="current password">
                </div>
                <div class="form-group">
                  <label for="inputEditNewPassword">New Group Password</label>
                  <input type="password" class="form-control mandatory-password" id="inputEditNewPassword" name="inputEditNewPassword" placeholder="new password">
                </div>
                <div class="form-group">
                  <label for="confirmEditNewPassword">Confirm New Group Password</label>
                  <input type="password" class="form-control mandatory-password" id="confirmEditNewPassword" placeholder="new password">
                </div>
                <div id="warning-labels" class="form-group">
                  <label id="lblNoMatch" class="form-inline-error-message">Passwords do not match</label>
                  <label id="lblMandatoryFields" class="form-inline-error-message">All fields are mandatory</label>
                </div>
                <input type="hidden" id="inputEditId" name="inputEditId">
                <input type="hidden" id="inputAction" name="inputAction">
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="btnEditSaveGroup">Save</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-warning" id="btnEditLeaveGroup">Leave</button>
              <button type="button" class="btn btn-danger" id="btnEditDeleteGroup">Delete</button>
            </div>
          </div>
        </div>
      </div>



      <!-- Supply Group Name & Password Modal -->
      <div class="modal fade" id="groupCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Join an Existing Account Group</h4>
            </div>
            <div class="modal-body">
              <form id="frmGroupCode" action="" method="POST">
                <div class="form-group">
                  <label for="inputJoinGroup">Group Code</label>
                  <input type="text" class="form-control allcaps mandatory" id="inputJoinGroup" name="inputJoinGroup" placeholder="GROUPCODE">
                </div>
                <div class="form-group">
                  <label for="inputPassword">Group Password</label>
                  <input type="password" class="form-control mandatory" id="inputPassword" name="inputPassword" placeholder="password">
                </div>
                <div id="warning-labels" class="form-group">
                  <label id="lblMandatoryFields" class="form-inline-error-message">All fields are mandatory</label>
                </div>
                <input type="hidden" id="inputAction" name="inputAction">
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="btnSubmitGroupCode">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
</body>
</html>
