<!DOCTYPE html>

<html>
<head>
    <title><%=pageTitle%></title>
    <%- include('../includes/bootstrapSetup.ejs') %>
    <%- include('../includes/bootstrap-dialog.ejs') %>
    <script src="/js/setup/accounts.js"></script>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

    <div class="main-content-frame">
      <h3>Account Setup</h3>

      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <td>Account</td>
            <td>Account Description</td>
            <td>Account Type</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <% pageData.accountList.forEach(function(val, idx, arr) { %>
            <tr>
              <td><%=val.accountCode%></td>
              <td><%=val.accountName%></td>
              <td class="td-account-type" data-acctype="<%=val.accountType%>"><%=val.accountTypeText%></td>
              <td>
                  <button class="btn btn-primary btn-edit-ag" data-toggle="modal" data-target="#editModal" data-accountid="<%=val.id%>"
                                      data-type="edit" data-accountcode="<%=val.accountCode%>" data-bankname="<%=val.bankName%>"
                                      data-accountname="<%=val.accountName%>" data-accounttype="<%=val.accountType%>">Edit</button>
                </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

      <button class="btn btn-success" data-toggle="modal" data-target="#createModal">Create a new Account</button>
      <!-- <button class="btn" data-toggle="modal" data-target="#groupCodeModal">Join an existing Group</button> -->

      <!-- Create New Group Modal -->
      <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Create a New Account</h4>
            </div>
            <div class="modal-body">
              <form id="frmCreateAcct" action="" method="POST">
                <div class="form-group">
                  <label for="inputGroupCode">Account Code</label>
                  <input type="text" class="form-control allcaps mandatory" id="inputAcctCode" name="inputAcctCode" placeholder="NEWACCOUNT" required>
                </div>
                <div class="form-group">
                  <label for="inputAcctName">Account Name</label>
                  <input type="text" class="form-control mandatory" id="inputAcctName" name="inputAcctName" placeholder="New Account Name" required>
                </div>
                <div class="form-group">
                  <label for="selAcctType">Account Type</label>
                  <select class="form-control mandatory" id="selAcctType" name="selAcctType">
                    <option value="CA">Current Account</option>
                    <option value="SA">Savings Account</option>
                    <option value="CC">Credit Card</option>
                    <option value="SC">Store Card</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="inputBankName">Bank Name</label>
                  <input type="text" class="form-control mandatory" id="inputBankName" name="inputBankName" placeholder="Sample Bank plc" required>
                </div>
                <div id="warning-labels" class="form-group">
                  <label id="lblMandatoryFields" class="form-inline-error-message">All fields are mandatory</label>
                </div>
                <input type="hidden" id="inputAction" name="inputAction" value="create">
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="btnSaveNewAcct">Save</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Edit Group Modal -->
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Edit Account Group</h4>
            </div>
            <div class="modal-body">
              <form id="frmEdit" action="" method="POST">
                <div class="form-group">
                  <label for="inputEditGroupCode">Account Code</label>
                  <input type="text" class="form-control" id="inputEditAcctCode" name="inputEditAcctCode" placeholder="NEWACCOUNT" readonly>
                </div>
                <div class="form-group">
                  <label for="inputEditDescription">Account Name</label>
                  <input type="text" class="form-control" id="inputEditAcctName" name="inputEditAcctName" placeholder="New Account Name">
                </div>
                <div class="form-group">
                  <label for="selEditAcctType">Account Type</label>
                  <select class="form-control mandatory" id="selEditAcctType" name="selEditAcctType">
                    <option value="CA">Current Account</option>
                    <option value="SA">Savings Account</option>
                    <option value="CC">Credit Card</option>
                    <option value="SC">Store Card</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="inputEditBankName">Bank Name</label>
                  <input type="text" class="form-control mandatory" id="inputEditBankName" name="inputEditBankName" placeholder="Sample Bank plc" required>
                </div>
                <div class="form-group">
                  <label for="inputEditPassword">Account Group Password</label>
                  <input type="password" class="form-control" id="inputEditPassword" name="inputEditPassword">
                </div>
                <input type="hidden" id="inputEditId" name="inputEditId">
                <input type="hidden" id="inputAction" name="inputAction">
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="btnEditSaveAcct">Save</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" id="btnEditDeleteAcct">Delete</button>
            </div>
          </div>
        </div>
      </div>



      <!-- Supply Group Name & Password Modal -->
      <div class="modal fade" id="groupCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Join an Existing Account Group</h4>
            </div>
            <div class="modal-body">
              <form id="frmGroupCode" action="" method="POST">
                <div class="form-group">
                  <label for="inputCode">Group Code</label>
                  <input type="text" class="form-control allcaps" id="inputCode" name="inputJoinGroup" placeholder="GROUPCODE">
                </div>
                <div class="form-group">
                  <label for="inputPassword">Group Password</label>
                  <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="password">
                </div>
                <input type="hidden" id="inputAction" name="inputAction">
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="btnSubmitGroupCode">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
</body>
</html>
